
* { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
    height: 100%; 
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    min-height: 100vh;
    font-family: sans-serif;
}

header { 
    grid-area: header; 
    background: rgb(224, 224, 224); 
    padding: 15px 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: sticky; /* Se queda arriba al hacer scroll */
    top: 0;
    z-index: 10;
}

main { 
    grid-area: main; 
    padding: 20px; 
}

footer { 
    grid-area: footer; 
    background: #333; 
    color: white; 
    padding: 20px; 
    text-align: center; 
}

#menu-toggle { display: none; }

@media (min-width: 1241px) {
    .menu-btn { display: none; }

    nav {
        display: flex;
        gap: 15px;
    }

    nav div {
        padding: 5px 15px;
        cursor: pointer;
        background: #ddd;
        border-radius: 4px;
    }
}

@media (max-width: 1240px) {
    .menu-btn {
        display: block;
        font-size: 30px;
        cursor: pointer;
        z-index: 100;
    }

    nav {
        display: grid;
        grid-template-columns: 1fr;
        align-content: start;
        
        position: fixed;
        top: 0;
        right: 0;
        width: 280px;
        height: 100vh;
        background-color: #3a1f4d;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
        
        display: flex;
        flex-direction: column;
        padding-top: 80px;
    }

    #menu-toggle:checked ~ nav {
        transform: translateX(0);
    }

    nav div {
        color: white;
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
}